* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  background-image: url(asset/Background.jpg);
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
}

h1 {
  font-weight: bold;
}

main {
  background-image: url(asset/Background.jpg);
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  padding: 2rem;
  width: 400px;
  border-radius: 34px;

  background-color: #181a1ccb;
  color: white;
}
.form-group {
  display: flex;
  flex-direction: column;
  padding: 10px 0px;
  width: 100%;
  min-width: 330px;
}
.form-group input {
  background-color: transparent;
  gap: 10px;
  height: 45px;
  padding: 10px;
  color: white;
  border: solid 1px #5d5d5d;
  border-radius: 20px;
}
label {
  margin-bottom: 10px;
}
.chill-logo img {
  width: 163px;
}

.question-login {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 0.8rem;
}

.button-login,
.google-login {
  color: white;
  padding: 10px;
  width: 100%;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  background-color: transparent;
  border: solid 1px #5d5d5d;
  border-radius: 20px;
}
.google-login {
  position: relative;
}
.google-login img {
  width: 18px;
  position: absolute;
  left: 60px;
  top: 50%;
  transform: translateY(-50%);
}
.card p {
  justify-self: center;
  margin: 10px 0px;
}
.card a {
  text-decoration: none;
  color: #d0d5ea;
  text-decoration: underline;
}

.button-login {
  background-color: #5d5d5d;
}
